*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(53, 49, 49);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
section{
    width: 300px;
    background-color: rgb(27, 24, 24);
    min-height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
section .infoFriend{
    display: flex;
    margin:0px 10px;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
}
section .infoFriend a img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
}
section .infoFriend a{
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}
section .infoFriend a:hover{
    color: red;
}

.mensagens input[type=text]{
    outline: none;
    width: calc(100% - 75px);
    border: 0;
    margin-left: 5px;
    background-color:rgb(27, 24, 24);
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 5px;
    padding: 0px 5px;
    height: 25px;
    font-size: 16px;
}
.mensagens input[type=submit]{
    border: 0;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-radius: 5px;
    background-color:rgb(27, 24, 24);
    height: 25px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    margin-right: 5px;
}
.conversa{
    margin: 10px;
}
.conversa .friend{
    width: 200px;
    height: auto;
    float: left;
    background-color: #ccc;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    word-wrap: break-word;
}
.conversa .friend .chat_amigo img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 10px;
}
.conversa .my{
    margin: 20px 0px;
    width: 200px;
    height: auto;
    float: right;
    background-color: rgb(143, 141, 59);
    border-radius: 10px 10px 0px 10px;
    padding: 10px;
    color: #fff;
    word-wrap: break-word;
    font-weight: bold;
    
}
.conversa .friend span{
 font-weight: bold;
 height: 20px;
 line-height: 20px;
}
.conversa .friend p{
    font-size: 13px;
    color: #555;
}
.my span{
    height: 20px;
    line-height: 20px;
}
.my p{
    font-size: 13px;
    color: #555; 
}

.start{
    background-color: #ccc;
    color: black;
    font-weight: bold;
    text-align: center;
    cursor:pointer;
}
